@import "variables";
@import "mixins";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat, sans-serif;
}

.wrapper {
  min-width: 320px;
  margin: $contentPosition;
}

.wrap {
  padding: 0 10px;
  margin: $contentPosition;
  background-color: $backgroundColor;
}

.header {
  background-color: $backgroundColor;
  margin-left: 0;
  padding: 30px 0;
  display: flex;
  width: 86%;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-img {
  background-image: url("../assets/img/Logo.png");
  width: 43px;
  height: 41px;
}

.logo-img:hover {
  background-image: url("../assets/img/logo-hover.png");
  width: 43px;
  height: 41px;
}

.brand-name {
  display: none;
}

.btn {
  outline: none;
  background-color: #8d81ac;
  color: #fff;
  font-weight: bold;
  list-style: none;
}

.btn-header {
  padding: 10px 36px;
  margin: $contentPosition;
  font-size: 16px;
  border-radius: 20px;
}

.btn-header:hover {
  color: #8d81ac;
  background-color: #fff;
}

.btn-large:hover {
  border: 1px solid #8d81ac;
  background-color: #fff;
}

.main {
  background-image: url("../assets/img/header.png");
  padding-top: 43px;
  @include backgroundStyle;
  text-align: center;
  padding-bottom: 485px;
  margin-bottom: 40px;
}

.main-title {
  font-size: 48px;
  font-weight: bold;
  color: #fff;
  margin: 0 0 32px;
  text-transform: capitalize;
}

.main-desc {
  color: #8d81ac;
  font-size: 18px;
  margin: 0 31px 20px;
  line-height: 44px;
  text-transform: capitalize;
}

.main-text {
  font-size: 14px;
  text-transform: uppercase;
  color: #78818a;
}

.download-text {
  font-size: 14px;
  text-transform: capitalize;
  color: #848e97;
  text-align: center;
  margin-bottom: 110px;
}

.btn-large {
  text-decoration: none;
  font-size: 18px;
  padding: 16px 33px;
  text-transform: capitalize;
  position: relative;
  border-radius: 190px;
  font-weight: bold;
  top: 500px;
  left: 1%;
}

#menu-toggle {
  opacity: 0;
}

.menu-btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 40px;
  right: 10px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #e5e3e3;
}

.menu-btn > span::before {
  content: '';
  top: -12px;
  width: 21px;
  margin-left: 5px;
}

.menu-btn > span::after {
  content: '';
  top: 12px;
}

.menu-list {
  display: block;
  position: absolute;
  visibility: hidden;
  top: 0;
  right: 0;
  width: 90%;
  height: 400px;
  list-style: none;
  background-color: #333;
  box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
}

.menu-item {
  display: block;
  padding: 32px 34px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  text-decoration: none;
  list-style: none;
  border-bottom: 2px solid #3b3b3b;
}

.menu-link {
  color: #8d81ac;
  font-size: 26px;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bold;
}

.menu-link:hover {
  color: #fff;
}

#menu-toggle:checked ~ .menu-btn {
  top: 40px;
}

#menu-toggle:checked ~ .menu-list {
  visibility: visible;
  left: 5%;
  top: 101px;
}

.cards-container {
  margin: $contentPosition;
  padding: 0 10px;
}

/*start section yuri*/

.rev-ed {

  text-align: center;
  padding: 10px;
  margin-bottom: 80px;
}

.rev-ed_text {
  color: #717171;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 16px;
}

.rev-ed_text-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #635C73;
  padding: 0 10px;
  height: 80px;
}

.rev-ed_text-title-title {
  padding: 0 5px;
  font-size: 25px;
  font-weight: bold;
  color: #635C73;
}


.batons {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.batons_watch {
  padding: 20px 5px 0;
}

.batons_star {
  padding: 20px 5px 0;
}

.batons_fork {
  padding: 20px 5px 0 5px;
}

.btn-sm {
  color: #24292e;
  //font-size: 14px;
  background-color: #eff3f6;
  background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
  border: 1px solid rgba(27, 31, 35, .2);
  border-radius: .25em
}

.social-count {
  color: #24292e;
}

.editor {
  grid-area: editor;
  height: 381px;
  width: 717px;
  background-size: cover;
  background-image: url("../assets/img/editor.png");
}

.here_is {
  text-align: center;
  padding: 10px;
  background-color: #F4F4F4;
  font-size: 33px;
  font-weight: 600;

}

.here_is-text_title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #8D81AC;
  padding: 0 10px;
  height: 80px;

}

.here_is-section {
  padding: 16px;
}

.here_is-section-icon {
  padding-top: 45px;
  padding-left: 20px;
}

.here_is-section-title {
  font-size: 17px;
  color: #3F3F3F;
  font-weight: 500;
  padding-top: 30px;
}

.here_is-section-text {
  color: #848E97;
  font-size: 0.8rem;
  font-weight: 700;
  //padding: 16px;

}


.fork_sub {
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #4B3B4E;
  padding-bottom: 80px;
}

.fork_sub-line {
  background-color: #645766;
  width: 279px;
  height: 1px;
}

.fork_sub-title {
  padding: 16px;
  color: white;
  font-size: 26px;
  font-weight: 600;
  text-align: center;

}

.fork_sub-card {
  margin-top: 20px;
  width: 266px;
  height: 516px;
  background: rgba(256, 256, 256, 0.1)
}
.fork_sub-card:hover{
  background-color: #413344;
  width: 300px;
  height: 520px;
}
.fork_sub-card-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
  background: rgba(256, 256, 256, 0.07);
  width: 100%;
  height: 108px;
}

.fork_sub-card-body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 383px;


}

.fork_sub-card-body-price {
  color: white;
  font-size: 63px;
  font-weight: 600;
}

.baks {
  font-weight: 500;
}

.fork_sub-card-body-per_month {
  color: #8F8691;
}

.fork_sub-card-body-line {
  background-color: #8D81AC;
  width: 70px;
  height: 5px;
}

.fork_sub-card-body-rung {
  color: white;
  font-size: 18px;
  width: 85%;
}

.fork_sub-card-body-btn_card {
  outline: none;
  background-color: #776B79;
  color: #fff;
  list-style: none;
  margin-top: 50px;
}

.fork_sub-card-body-btn_card-header {
  padding: 10px 36px;
  //margin: $contentPosition;
  font-size: 16px;
  border-radius: 20px;
}

.fork_sub-card-body-btn_card-header:hover {
  color: #8d81ac;
  background-color: #fff;
  text-decoration: none;
}

.here_is-toolse {
  grid-area: here_is-tools;
}

/*end section yuri*/


.talking-about {
  margin: $contentPosition;
  padding: 65px 0 0;
  background-image: url("../assets/img/testmonials-bg-1.png");
  @include backgroundStyle;
}

.section-title {
  font-size: 36px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 40px;
}

.talking-about-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.talking-about-card-text {
  font-size: 16px;
  color: #fff3cd;
  line-height: 26px;
  text-align: center;
  font-style: italic;
  font-family: 'Lato', sans-serif;
  margin-bottom: 40px;
}

.talking-about-card-logo {
  margin-bottom: 40px;
  align-self: center;
}

@media screen and (min-width: 481px) {

  .header {
    width: 100%;
    padding-bottom: 53px;
  }
  .menu-btn {
    display: none;
  }
  .menu-list {
    visibility: visible;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: unset;
    height: unset;
    top: 95px;
    width: 80%;
    left: 11%;
  }
  .brand-name {
    text-transform: uppercase;
    color: #8d81ac;
    font-size: 24px;
    display: block;
    font-weight: 400;
    margin-left: 20px;
  }
  .brand-name:hover {
    color: #fff;
  }
  .menu-item {
    list-style: none;
    border-bottom: unset;
    padding: 0;
  }
  .menu-link {
    font-size: 16px;
    padding: 0;
  }
  .menu-item:first-child {
    margin-left: 0;
  }
  .btn-header {
    padding: 10px 36px;
    margin-right: 0;
    font-size: 16px;
    border-radius: 20px;
  }
  .main-title {
    font-size: 72px;
    margin-top: 20px;
  }
  .main-desc {
    font-size: 24px;
  }
  .btn-large {
    font-size: 21px;
  }
  .section-title {
    font-size: 42px;
  }
  .cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .talking-about-card {
    width: 47%;
    align-items: start;
  }
  .talking-about-card-logo {
    margin-bottom: 53px;
    align-self: center;
  }
  //start section yuri


  .rev-ed_text-title-title {
    font-size: 44px;
  }
  .download-text {
    margin-bottom: 68px;
  }
  .rev-ed_text {
    font-size: 20px;
    font-weight: 600;
  }
  .here_is {
    padding-right: 0;
  }
  .here_is-text_title {
    grid-area: here_is-text_title;
    font-size: 46px;
    padding-top: 30px;
  }
  .here_is-section {
    display: flex;
    flex-wrap: wrap;

  }
  .here_is-section-title_text {
    width: 73%;
    padding-left: 20px;
  }
  .here_is-section-title {
    padding-top: 38px;
    padding-bottom: 6px;
    color: #8D8D8D;
    text-align: left;
    font-size: 17px;
    font-weight: 600;
  }
  .here_is-section-text {
    text-align: left;
    font-size: 15px;
    color: #A2A9B0;
  }
  .editor {
    width: 100%;
    height: 528px;
  }
  .fork_sub {
    justify-content: center;
    background-image: url("../assets/img/Layer2_1X.png");
  }
  .fork_sub-line {
    width: 768px;
    height: 2px;
  }
  .fork_sub-title {
    padding-top: 70px;
    font-size: 47px;
  }
  .fork_sub-card {
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 44px;
    margin-left: 40px;
  }

  //end section yuri
}

@media screen and (min-width: 993px) {
  //start section yuri



  .rev-ed_text-title-title {
    font-size: 58px;
    color: #635C73;
  }
  .rev-ed_text {
    display: flex;
    justify-content: center;

  }
  .rev-ed_text-text {
    width: 1105px;
  }
  .here_is {
    height: 791px;
    //display: flex;
    //flex-wrap: wrap;
    display: grid;
    grid-template-rows: 0.5fr 0.3fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "here_is-tools here_is-text_title" "here_is-tools editor"
  }
  .here_is-text_title {
    font-size: 52px;
    padding-top: 60px;
  }
  .here_is-section {
    width: 100%;
  }
  .editor {
    grid-row: 1 / span 2;
    margin-top: 140px;
    width: 100%;
  }
  .here_is-text_title {
    padding-top: 37px;
  }
  .fork_sub-line {
    width: 1200px;
  }
  .fork_sub-title {
    width: 100%;
    font-size: 50px;
    padding-bottom: 103px;
  }
  .fork_sub-card {
    margin-right: 10px;
    margin-left: 10px;
  }

  //end section yuri
  .header {
    width: 100%;
    padding: 36px 0;
  }
  .menu-list {
    position: unset;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 525px;
  }
  .main-title {
    font-size: 82px;
  }
  .main-desc {
    font-size: 30px;
  }
  .main-text {
    font-size: 16px;
  }
  .btn-header {
    margin-left: 20px;
  }
  .talking-about-card {
    width: 30%;
    align-items: start;
  }
  .talking-about {
    background-image: url("../assets/img/testmonials-bg-3.png");
    @include backgroundStyle;
  }

}

@media screen and (min-width: 1201px) {
  .header {
    width: 1200px;
    margin: 0 auto;
  }
}
